{% extends "base_common.html" %}

{% load staticfiles %}

{% block meta %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
{% endblock meta %}


{% block body_content %}
    <div id="debug"></div>
    <div id="map"></div>
{% endblock body_content %}


{% block body_script %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?v=3&key={{google_maps_api_key}}&callback=initMap&libraries=places"></script>
    <script async src="{% static 'scripts/jquery-1.12.0.min.js' %}"></script>
    <script defer src="{% static 'scripts/main.js' %}"></script>
{% endblock body_script %}