{% extends "base_common.html" %}

{% load staticfiles %}

{% block meta %}
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
{% endblock meta %}


{% block body_content %}
    <div id="map"></div>
{% endblock body_content %}


{% block body_script %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?v=3&key={{google_maps_api_key}}&callback=initMap"></script>
    <script async src="{% static "scripts/jquery-1.12.0.min.js" %}"></script>
    <script defer src="{% static "scripts/main.js" %}"></script>
{% endblock body_script %}