{% extends "base_common.html" %}

{% load staticfiles %}
{% load compile_static %}


{% block meta %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock meta %}

{% block head_extra %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'styles/main.scss'|compile %}">
{% endblock head_extra %}


{% block body_content %}
    <div id="debug"></div>
    <div id="map"></div>
{% endblock body_content %}


{% block body_extra %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?v=3&key={{google_maps_api_key}}&callback=initMap&libraries=places"></script>
    <script async src="{% static 'scripts/jquery-1.12.0.min.js' %}"></script>
    <script defer src="{% static 'scripts/main.js' %}"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{% endblock body_extra %}