$main-bg-color: white;

html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
}

#map { 
	height: 100%; 
}

#search-box {
	margin: 10px;
	padding: 2px;
	width: 33%;
	min-width: 360px;
	max-width: 500px;
	
	background-color: $main-bg-color;
}

#search-box div {
}

#search-box input[type='text'] {
}